body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    position: relative;
}

.hover-box {
    width: 150px;
    height: 180px;
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
    overflow: hidden;  /* Zorgt ervoor dat de afbeelding binnen de grenzen van het vakje blijft. */
}

.hover-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Zorgt ervoor dat de afbeelding binnen de grenzen van het vakje blijft. */
}

.hover-box:hover {
    width: 600px;
    height: 720px;
    position: absolute;
    z-index: 2;
    background-color: #e74c3c;
}

.hover-box:hover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
